#main{
    display: flex;
    justify-content: space-between;
    padding: 10%;
    background-color: #2F4F4F;
}

form{
    box-shadow: 0 0 10px #888888;
    padding: 5%;
    width:60%;
    margin:1%;
}

input{
    width: 70%;
    border-radius: 25px;
    border: redge;
    padding: 1%;
    margin:2%;
}

#cvv {
    display: inline-flex;
    justify-content: space-between;
    width: 70%;
    margin-left: 2%;
}

#buttons{
    padding: 1%;
    margin:2%;
    justify-content: space-between;
}

#pay{
    width:80%;
    border-radius: 12px;
    background-color: 	#C0C0C0;
    margin-bottom: 5%;
}

pay:hoover{
    background-color: #2F4F4F;
}

#cancelBtn{
    width:50%;
    border-radius: 12px;
    background-color: 	#C0C0C0;
    display: right;
}




